<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Reactize :: Apply DOM diffs while serving plain old HTML</title>
    <link rel="author" href="https://twitter.com/ssorallen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/reactize.css" media="screen">

    <script src="/bower_components/react/react.min.js"></script>
    <script src="/bower_components/react/JSXTransformer.js"></script>
    <script src="/reactize.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>
  <body>
    <div id="queries" hidden>
      <ul>
        <li><a rel="partial" href="/partial">partial</a></li>
        <li><a rel="partial_clone" href="/partial_clone">partial_clone</a></li>
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1>Reactize</h1>
          <p class="lead">
            This is a fork from <a href="https://github.com/ssorallen/turbo-react/">turbo-react</a> thats remove the turbo-link part and instead updates sections of the page without fetching the hole page.
          </p>
          <div id="widget">
            <%= erb :partial %>
          </div>

          <h3>(Clone) representation</h3>
          <div id="widget_clone">
            <%= erb :partial_clone %>
          </div>



          <h3>What it's doing</h3>
          <p>"Re-request this page" is just a link to the current page. When you
            click it, this will only show when javascript support is shut off. And a full page load will happen.</p>
          <p>The panel is rendered with a random <code>panel-</code> class on each
            request, and the progress bar gets a random <code>widthX</code>
            class.</p>
          <p>With javascript on the <code>widget</code> element on the page will be fetched and replaced with React. The button text will be replaced with "Reload only part of page", to indicate what will happen.
          <p>A clone representation of the panel is rendered below the main panel to show how the rendering behaivs if its made by javascript or a page load. If javascript is enabled the Requested at time will differ due to that the data is fetched twice by each widget. If javascript is dissabled it will be the same because the data is rendered in the same request, the same technique will apply for the panel class. The progress bar will not be the same on the original and the clone, its becasue its values are calculated in the view.

          <h3>The Code</h3>
          <p>
            Modified Reactize turns a DOM element into a React
            element: <a href="https://github.com/hallgren/turbo-react/blob/master/public/reactize.js">reactize.js</a>
          </p>
            This whole app is on
            GitHub: <a href="https://github.com/hallgren/turbo-react">turbo-react</a>
          </p>

        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
  
  $(document).ready(function(){

    $("#button").text("Reload only part of page")

    $(document).on("click", "#button", function(element) {
      href = $('body').find('a[rel=partial]').attr("href")
      $.get(href, function(data) {
        Reactize.applyDiffOnHTMLString(document.getElementById("widget"), data)
        $("#button").text("Reload only part of page")
        $(window).trigger("update");
      });
      return false
    });

    $(window).on("update", function(){
      href = $('body').find('a[rel=partial_clone]').attr("href")
      $.get(href, function(data) {
        Reactize.applyDiffOnHTMLString(document.getElementById("widget_clone"), data)
      });
      return false
    });

  });

</script>
</html>

